

    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

    body {
      font-family: 'Cairo', sans-serif;
        background-color: #d6e7e16c;

    }


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* position: fixed;
  width: 100%; */
}

.navbar .icon {
  margin: 0 8px;
  /* font-size: 24px; */
  cursor: pointer;
  /* background: silver; */
  color: black;
  border-radius: 50%;
  /* padding: 8px 11px; */
}

.navbar .icon:hover {
  color: #ff5722;
}

.user-profile {
  position: relative;
  font-size: 32px;
  cursor: pointer;
}

.popup-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: -124px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 150px;
  z-index: 1000;
}

.popup-menu.active {
  display: block;
}

.popup-menu a {
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.popup-menu button {
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;

}


/* .popup-menu .logout-btn {
  background: #d9534f;
  color: #fff;
  border-radius: 0 0 5px 5px;
} */

.dashboard-container {
  padding: 20px;
  margin-bottom: 80px;

}

.circle-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 12px;
}

.circle-card h5 {
  font-size: 18px;
  font-weight: bold;
}

.circle-card p {
  margin: 6px 0;
  font-size: 14px;
  color: #555;
}

/* .bottom-navbar {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding: 8px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
} */

.bottom-navbar .icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.bottom-navbar .icon:hover {
  color: #ff5722;
}

.bottom-navbar .label {
  font-size: 12px;
  margin-top: 2px;
}


 .bottom-navbar {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background: #fff;
      border-top: 1.5px solid #eee;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 54px;
      z-index: 10;
      box-shadow: 0 2px 10px #0001;
      font-size: 13px;
    }

    .bottom-navbar .label {
      margin-top: 3px;
      font-weight: 500;
      text-align: center;
      line-height: 1.1;
    }

    .bottom-navbar>div {
      flex: 1 1 0;
      text-align: center;
      cursor: pointer;
      padding: 7px 0 0 0;
    }

    .bottom-navbar .active-footer,
    .bottom-navbar .active-footer .label {
      color: #16a34a !important;
      font-weight: 700;
    }